@model MovieCatalog.Models.CategoryViewModel

<tr>
    <td>
        <a href="@Url.Action("Details", "Categories", new { id = Model.Category.Id })" class="btn btn-link">
            @Model.Category.Name
        </a>
    </td>
    <td>@Model.Category.FilmCategories?.Count()</td>
    <td>@Model.NestingLevel</td>
</tr>
@foreach (var subCategory in Model.SubCategories)
{
@Html.Partial("_CategoryPartial", subCategory)
}